button{
      padding: 11px 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 4px black;
    margin: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
button:hover{
    background-color: darkviolet;
}
.img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid purple;

    border-radius: 9px;
    box-shadow: 0 3px 4px black;
}